apiVersion: apps/v1
kind: Deployment
metadata:
  name: email-service
  labels:
    app: email
    tier: background
spec:
  replicas: 1
  selector:
    matchLabels:
      app: email
  template:
    metadata:
      labels:
        app: email
        tier: background
    spec:
      imagePullSecrets:
        - name: ocir-secret
      containers:
        - name: email-service
          image: iad.ocir.io/idgxrtixsdtd/ecommerce:email
          imagePullPolicy: Always
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "150m"
          ports:
            - containerPort: 5000
              name: http
          env:
            - name: PORT
              value: "5000"
            - name: RABBITMQ_URL
              value: "amqp://rabbitmq:password@rabbitmq-service:5672"
            - name: SMTP_HOST
              value: "smtp-relay.brevo.com"
            - name: SMTP_SECURE
              value: "false"
            - name: SMTP_PORT
              value: "587"
            - name: SMTP_FROM
              value: "tomarrohit3240@gmail.com"
            - name: SMTP_USER
              valueFrom:
                secretKeyRef:
                  name: email-secrets
                  key: SMTP_USER
            - name: SMTP_PASS
              valueFrom:
                secretKeyRef:
                  name: email-secrets
                  key: SMTP_PASS
          readinessProbe:
            httpGet:
              path: /api/email/health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /api/email/health
              port: 5000
            initialDelaySeconds: 30
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: email-service
spec:
  selector:
    app: email
  ports:
    - port: 5000
      targetPort: 5000
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: email-service-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: email-service
  minReplicas: 1
  maxReplicas: 2
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 80
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 85
