apiVersion: apps/v1
kind: Deployment
metadata:
  name: invoice-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: invoice
  template:
    metadata:
      labels:
        app: invoice
    spec:
      imagePullSecrets:
        - name: ocir-secret
      initContainers:
        - name: prisma-migrate
          image: iad.ocir.io/idgxrtixsdtd/ecommerce:invoice-service
          imagePullPolicy: Always
          command: ["npx", "prisma", "migrate", "deploy"]
          env:
            - name: DATABASE_URL
              value: "postgresql://postgres:password@postgres-service:5432/invoice"
      containers:
        - name: invoice-service
          image: iad.ocir.io/idgxrtixsdtd/ecommerce:invoice-service
          imagePullPolicy: Always
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
          ports:
            - containerPort: 4005
          env:
            - name: PORT
              value: "4005"
            - name: NODE_ENV
              value: "production"
            - name: DATABASE_URL
              value: "postgresql://postgres:password@postgres-service:5432/invoice"
            - name: RABBITMQ_URL
              value: "amqp://rabbitmq:password@rabbitmq-service:5672"
            - name: AWS_REGION
              value: "eu-north-1"
            - name: AWS_BUCKET_NAME
              value: "erce-amazon-s3"
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: AWS_SECRET_ACCESS_KEY
---
apiVersion: v1
kind: Service
metadata:
  name: invoice-service
spec:
  selector:
    app: invoice
  ports:
    - port: 4005
      targetPort: 4005
